
<div class="form-group">
    <input type="text" class="form-control search" placeholder="Search cards..." ng-model='searchFilter'>
</div>



<div ng-if="cardToEdit">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h4>Edit this trivia card</h4>
    <div class="form-group">
      <label>Category</label>
      <input type="text" class="form-control" ng-model="cardToEdit.category" required>
    </div>
    <div class="form-group">
      <label>Question</label>
      <input type="text" class="form-control" ng-model="cardToEdit.question" required>
    </div>
    <div class="form-group">
      <label>Answer</label>
      <input type="text" class="form-control" ng-model="cardToEdit.answer" required>
    </div>
    <div>
      <button class="btn btn-danger" ng-click="cancelEdit()">cancel</button>
      <button class="btn btn-info" ng-click="saveEdit()">save</button>
    </div>
  </div>
</div>


<div ng-hide="cardToEdit">
  <div class="col-md-3" ng-repeat="card in cards | filter:searchFilter track by $index">
    <div class="thumbnail list-thumbnail">
      <div ng-show="!card.hidden">
        <a class="fa fa-refresh" ng-click="getAnswer($index)"></a>
        <br>
        <br>
        <h5>{{card.question}}</h5>
        <p>{{card.category}}</p>
      </div>
    <div>
      <div ng-hide="!card.hidden">
        <a class="fa fa-refresh" ng-click="getQuestion($index)"></a>
        <br>
        <br>
        <h5>{{card.answer}}</h5>
      </div>
    </div>
    <div class="editDelete">
      <i class="fa fa-minus-square fa-lg" ng-click="removeCard(card)"></i>
      <i class="fa fa-pencil-square fa-lg" ng-click="editCard(card)"></i>
    </div>
  </div>
</div>
